@model WithdrawalApply
@using SmartStore.Core.Domain.Wallet
@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)

@*<input type="hidden"  name="id" value="@Model.Id" />*@

<table class="adminContent">
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Amount)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Amount)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.Comment)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Comment)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.SmartLabelFor(model => model.UpdateTime)
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.UpdateTime)
        </td>
    </tr>
</table>
