@model CustomerTeamModel
@using SmartStore.Admin.Controllers;

@{
    Html.AddTitleParts(T("PageTitle.Account").Text);

    //Layout = "_Layout";
    ViewBag.PageClassToken = "rewardpoints";
    ViewBag.PageTitle = T("").Text;
}

<style>
    /* Custom chart styling */
    .jOrgChart {
        margin: 10px;
        padding: 20px;
    }

        /* Custom node styling */
        .jOrgChart .node {
            font-size: 14px;
            background-color: #35363B;
            border-radius: 8px;
            border: 5px solid white;
            color: #F38630;
            -moz-border-radius: 8px;
        }

    .node p {
        font-family: tahoma;
        font-size: 10px;
        line-height: 11px;
        padding: 2px;
    }

    .alert-info:after {
        content: "";
        color: #d7ecfa;
    }
</style>
<script>
    jQuery(document).ready(function () {
        $("#org").jOrgChart({
            chartElement: '#chart',
            dragAndDrop: true
        });
    });</script>
<script>
    jQuery(document).ready(function () {

        /* Custom jQuery for the example */
        $("#show-list").click(function (e) {
            e.preventDefault();

            $('#list-html').toggle('fast', function () {
                if ($(this).is(':visible')) {
                    $('#show-list').text('Hide underlying list.');
                    $(".topbar").fadeTo('fast', 0.9);
                } else {
                    $('#show-list').text('Show underlying list.');
                    $(".topbar").fadeTo('fast', 1);
                }
            });
        });

        $('#list-html').text($('#org').html());

        $("#org").bind("DOMSubtreeModified", function () {
            $('#list-html').text('');

            $('#list-html').text($('#org').html());

            prettyPrint();
        });
    });
</script>

    <div class="section-header">
        <div class="title">
            @T("团队组织") -  @Model.Self.Username
            <a href='@Url.Action("List")'>(@T("返回列表"))</a>
        </div>
        <div class="options">
            @{ Html.RenderWidget("admin_button_toolbar_before"); }
            @*<button type="submit" id="AuditOper" onclick="changeOper(true)" class="btn btn-primary">
                <i class="far fa-check"></i>
                <span>@T("通过")</span>
            </button>
            <button type="submit" id="AuditDeny" onclick="changeOper(false)" class="btn btn-primary">
                <i class="far fa-check"></i>
                <span>@T("拒绝")</span>
            </button>*@
            <input type="submit" id="order-audit" name="btnRefreshPage" class="d-none" />
            <input type="hidden" id="isAudit" class="loaded-tab-name" name="isAudit" value="true" />
            <input type="hidden" id="AuditOrderComment" class="loaded-tab-name" name="AuditOrderComment" value="" />
            @{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>
    <div class="col-md-8 col-lg-9">
        <div class="page-title pt-4 pt-md-0">
            <h1 class="h3">团队架构</h1>
        </div>

        <ul id="org" style="display:none">
            <li>
                @Model.Self.Username 团队人数： @Model.Total
                <ul>
                    @foreach (var customer in Model.Team)
                    {
                        <li id="@customer.Id">@customer.Username - @customer.Mobile</li>
                    }
                </ul>
            </li>
        </ul>

        <div id="chart" class="orgChart"></div>
    </div>