@model ChangePasswordModel

@using SmartStore.Web.Models.Customer;

@{
	Html.AddTitleParts(T("PageTitle.Account").Text);

	Layout = "_dMyAccount";
	ViewBag.PageClassToken = "changepassword";
	ViewBag.PageTitle = T("Account.ChangePassword").Text;
}

@using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

	if (!ViewData.ModelState.IsValid)
	{
        @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
    }

    if (!String.IsNullOrEmpty(Model.Result))
    {
        <div class="alert alert-info">
            @Model.Result
        </div>
    }

    <div class="form-group row">
        @Html.LabelFor(model => model.OldPassword, new { @class = "col-lg-4 col-form-label required" })
        <div class="col-lg-8">
            @Html.PasswordFor(model => model.OldPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.OldPassword)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.NewPassword, new { @class = "col-lg-4 col-form-label required" })
        <div class="col-lg-8">
            @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>
    </div>
    <div class="form-group row">
        @Html.LabelFor(model => model.ConfirmNewPassword, new { @class = "col-lg-4 col-form-label required" })
        <div class="col-lg-8">
            @Html.PasswordFor(model => model.ConfirmNewPassword, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ConfirmNewPassword)
        </div>
    </div>

    <div class="form-group row">
        <div class="col col-sm-auto offset-sm-4 text-muted">
            @T("Common.FormFields.Required.Hint")
        </div>
    </div>

    <div class="form-group row">
        <div class="col">
            <button type="submit" class="btn btn-lg btn-primary">
                <i class="fa fa-check"></i>
                <span>@T("Account.ChangePassword.Button")</span>
            </button>
        </div>
    </div>
}

<script>
    $(function () {
        $.extend($.validator.messages, {
            required: "必填信息",
            remote: "请修正该信息",
            email: "请输入正确格式的电子邮件",
            url: "请输入合法的网址",
            date: "请输入合法的日期",
            dateISO: "请输入合法的日期 (ISO).",
            number: "请输入合法的数字",
            digits: "只能输入整数",
            creditcard: "请输入合法的信用卡号",
            equalTo: "请再次输入相同的值",
            accept: "请输入拥有合法后缀名的字符串",
            maxlength: $.validator.format("请输入一个长度最多是 {0} 的字符串"),
            minlength: $.validator.format("请输入一个长度最少是 {0} 的字符串"),
            rangelength: $.validator.format("请输入一个长度介于 {0} 和 {1} 之间的字符串"),
            range: $.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
            max: $.validator.format("请输入一个最大为 {0} 的值"),
            min: $.validator.format("请输入一个最小为 {0} 的值")
        });
    });

</script>