@model List<CustomerDiscount>
@using SmartStore.Core.Domain.Customers
@using SmartStore.Web.Models.Customer;

@{
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Layout = "_dMyAccount";
    ViewBag.PageClassToken = "rewardpoints";
    ViewBag.PageTitle = T("").Text;
}
<style>
    .alert-info:after {
        content: "";
        color: #d7ecfa;
    }
</style>
    <div class="col-md-8 col-lg-9">
        <div class="page-title pt-4 pt-md-0">
            <h1 class="h3">我的优惠券</h1>
        </div>
        <fieldset class="content-group mt-4">
            <legend class="mb-0">@*<span>@T("优惠券列表")</span>*@</legend>
            <div class="reward-points-history">
                <div class="table-responsive"  style="min-height:200px">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="border-top-0">
                                    @T("类别")
                                </th>
                                <th class="border-top-0">
                                    @T("有效期")
                                </th>
                                <th class="border-top-0">
                                    @T("金额")
                                </th>
                                
                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @{if (item.discount.UsePercentage)
                                            {
                                                <b>打折券</b>
                                            }
                                            else
                                            {
                                                <b>现金券</b >
                                                }
                                        }
                                    </td>
                                    <td>
                                        @{if (item.discount.EndDateUtc.HasValue)
                                            {
                                                <b>@item.discount.EndDateUtc</b>
                                            }
                                            else
                                            {
                                                <b>永久</b>
                                            }
                                        }
                                    </td>
                                    <td dir="auto">
                                        @{if (item.discount.UsePercentage)
                                            {
                                                <b>@item.discount.DiscountPercentage.ToString("F0") %</b>
                                            }
                                            else
                                            {
                                                <b>@item.discount.DiscountAmount</b>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                           
                        </tbody>
                    </table>
                </div>
            </div>
        </fieldset>


    </div>

