@model CustomerTeamModel
@using SmartStore.Web.Models.Customer;

@{
    Html.AddTitleParts(T("我的团队").Text);

    Layout = "_LayoutSimple";
    ViewBag.PageClassToken = "rewardpoints";
    ViewBag.PageTitle = T("我的团队").Text;
}

@*<style>
    /* Custom chart styling */
    .jOrgChart {
        margin: 10px;
        padding: 20px;
    }

        /* Custom node styling */
        .jOrgChart .node {
            font-size: 14px;
            background-color: #35363B;
            border-radius: 8px;
            border: 5px solid white;
            color: #F38630;
            -moz-border-radius: 8px;
        }

    .node p {
        font-family: tahoma;
        font-size: 10px;
        line-height: 11px;
        padding: 2px;
    }
    .alert-info:after {
        content: "";
        color: #d7ecfa;
    }
</style>
<script>
    jQuery(document).ready(function () {
        //$("#org").jOrgChart({
        //    chartElement: '#chart',
        //    dragAndDrop: true
        //});
    });</script>
<script>
    jQuery(document).ready(function () {

        /* Custom jQuery for the example */
        $("#show-list").click(function (e) {
            e.preventDefault();

            $('#list-html').toggle('fast', function () {
                if ($(this).is(':visible')) {
                    $('#show-list').text('Hide underlying list.');
                    $(".topbar").fadeTo('fast', 0.9);
                } else {
                    $('#show-list').text('Show underlying list.');
                    $(".topbar").fadeTo('fast', 1);
                }
            });
        });

        $('#list-html').text($('#org').html());

        $("#org").bind("DOMSubtreeModified", function () {
            $('#list-html').text('');

            $('#list-html').text($('#org').html());

            prettyPrint();
        });
    });
</script>*@
<div class="col-md-8 col-lg-9">
    @*<div class="page-title pt-4 pt-md-0">
            <h1 class="h3"></h1>
        </div>*@

    @*<ul id="org" style="display:block">
        <li>
            @Model.Self.Username 团队人数： @Model.Total
            <ul>
                @foreach (var customer in Model.Team)
                {
                    <div class="card" style=" display: inline-block; width: 100%;padding:20px; ">
                        <img src="/Content/Images/icons/design9.png" style="margin-right: 0px; display: inline-block; " alt="">
                        <p style="margin-right: 0px; display: inline-block; ">购物积分</p><p style="margin-right: 0px;width:60%; text-align:center;display: inline-block; "><b> @Model.RewardPointsBalance</b></p>
                    </div>
                    <li id="@customer.Id">@customer.Username - @customer.Mobile</li>
                }
            </ul>
        </li>
    </ul>*@
    @foreach (var customer in Model.Team)
    {
        <div class="card" style=" display: inline-block; width: 100%;padding:10px;margin-bottom:10px; ">
            <p style="margin-right: 0px; display: inline-block; ">@customer.Username</p><p style="margin-right: 0px;width:60%; text-align:center;display: inline-block; "><b> @customer.Mobile</b></p>
        </div>
    }
    @*<div id="chart" class="orgChart"></div>*@

</div>


