@model RegisterModel
@using SmartStore.Web.Models.Customer;
@{
    Layout = "_Layout";
    Html.AddTitleParts(T("PageTitle.Register").Text);
}
<script>
    function checkMobile() {
        var phone = document.getElementById('Mobile').value;
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
            alert("手机号码有误，请重填");
            return false;
        }
    }
    function checkPhone() {
        var phone = document.getElementById('Mobile').value;
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
            alert("手机号码有误，请重填");
            return false;
        }
        var pphone = document.getElementById('ParentMobile').value;
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(pphone))) {
            alert("推荐人手机号码有误，请重填");
            return false;
        }
    }
</script>
@using (Html.BeginForm("Register", "Customer", new { returnUrl = this.Context.Request.QueryString["returnUrl"] }, FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()

    <div class="page registration-page">
        <div class="page-title">
            <h1 class="h3">@T("Account.Register")</h1>
        </div>

        <div class="page-body row">

            <div class="col-12 col-lg-9 col-xl-8">
                @if (!ViewData.ModelState.IsValid)
                {
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                }
                @{ Html.RenderPartial("_ExternalAuthentication.AssociateMessage"); }

                <fieldset class="content-group">
                    <legend><span>@T("Account.YourPersonalDetails")</span></legend>
                    @if (this.EnableHoneypotProtection)
                    {
                        <div class="d-none">
                            @Html.HoneypotField()
                        </div>
                    }
                    @Html.ControlGroupFor(model => model.Username, editorType: InputEditorType.TextBox, required: true, breakpoint: "md")
                    @Html.ControlGroupFor(model => model.Mobile, editorType: InputEditorType.TextBox, required: true, breakpoint: "md")
                    @Html.ControlGroupFor(model => model.MobileCode, editorType: InputEditorType.TextBox, required: true, breakpoint: "md")
                    <div class="form-group row">
                        <div class="col">
                            <button type="button" onclick="showtime(120)" class="btn btn-primary btn-lg" id="sendcode" name="sendcode-button">
                                @T("获取验证码")
                            </button>
                        </div>
                    </div>
                    @Html.ControlGroupFor(model => model.ParentMobile, editorType: InputEditorType.TextBox, required: true, breakpoint: "md")
                    @{ Html.RenderWidget("gdpr_consent"); }
                </fieldset>
                <fieldset class="content-group">
                    <legend><span>@T("Account.YourPassword")</span></legend>

                    @Html.ControlGroupFor(model => model.Password, editorType: InputEditorType.Password, required: true, breakpoint: "md")
                    @Html.ControlGroupFor(model => model.ConfirmPassword, editorType: InputEditorType.Password, required: true, breakpoint: "md")

                    @if (Model.DisplayCaptcha)
                    {
                        <div class="form-group row">
                            <div class="captcha-box col-md-9 offset-md-3">
                                @Html.Raw(Html.GenerateCaptcha())
                            </div>
                        </div>
                    }
                </fieldset>

                <div class="form-group row">
                    <div class="col-12 text-muted">
                        @T("Common.FormFields.Required.Hint")
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col">
                        <button type="submit" id="register" onclick="checkPhone()" class="btn btn-primary btn-lg" name="register-button">
                            @T("Account.Register.Button")
                        </button>
                    </div>
                </div>
                <fieldset class="content-group" style="height:60px;">
                    <legend><span></span></legend>
                    <div class="form-group row">
                        <div class="captcha-box col-md-9 offset-md-3">
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
}
<script>
    function showtime(t) {
        if (!$("#Mobile").val()) {
            
            alert("请先输入手机号"); return false;
        }
        var phone = document.getElementById('Mobile').value;
        if (!(/^1(3|4|5|6|7|8|9)\d{9}$/.test(phone))) {
            alert("手机号码有误，请重填");
            return false;
        } else {

            if ($('#sendcode').attr("disabled")) { return false; }
            else {
                $('#sendcode').attr("disabled", true);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: "@(Url.Action("SendCode", "Customer"))",
                    data: { "mobile": $("#Mobile").val() },
                    success: function (data) {
                        // var rewardPointsGrid = $("#customer-rewardpoints-grid");
                        // rewardPointsGrid.data('tGrid').ajaxRequest();
                        //$('#addRewardPoints').attr('disabled', false);
                        if (data == "OK") { $("#MobileCode").show(); }
                        else { alert(data); }

                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert('验证码发送失败请稍后重试.')
                        //$('#addRewardPoints').attr('disabled', false);
                        //$("#add-reward-points-window").modal("hide");
                    }
                });
                for (i = 0; i <= t; i++) {
                    window.setTimeout("update_p(" + i + "," + t + ")", i * 1000);
                }
            }
        }
    }
    function valid() {
        var code = $("#MobileCode").val();
        $.ajax({
                    cache:false,
                    type: "POST",
                    url: "@(Url.Action("ValidCode", "Customer"))",
            data: { "mobile": $("#Mobile").val(), "code": code},
                    success: function (data) {
                        if (data == "OK") { $("#register").show();}
                        else{ }
                    },
                    error:function (xhr, ajaxOptions, thrownError){
                        alert('验证码发送失败请稍后重试.')
						//$('#addRewardPoints').attr('disabled', false);
						//$("#add-reward-points-window").modal("hide");
                    }
                });
    }
    function update_p(num, t) {
        if (num == t) {
            $("#sendcode").text(" 重新发送 ");
            $('#sendcode').attr("disabled", false);
            //$("#sendcode").disabled = false;
        }
        else {
           var printnr = t - num;
            $("#sendcode").text ( " (" + printnr + ")秒后重新发送");
        }
    }
</script>
<script>
    $(function () {
        $("#MobileCode").hide();
        $("#register").hide();
        $("#MobileCode").change(function () {
            valid();
        });
        $("#Mobile").change(function () {
            $("#register").hide(); $("#MobileCode").hide();
        });
        $.extend($.validator.messages, {
            required: "必填信息",
            remote: "请修正该信息",
            email: "请输入正确格式的电子邮件",
            url: "请输入合法的网址",
            date: "请输入合法的日期",
            dateISO: "请输入合法的日期 (ISO).",
            number: "请输入合法的数字",
            digits: "只能输入整数",
            creditcard: "请输入合法的信用卡号",
            equalTo: "请再次输入相同的值",
            accept: "请输入拥有合法后缀名的字符串",
            maxlength: $.validator.format("请输入一个长度最多是 {0} 的字符串"),
            minlength: $.validator.format("请输入一个长度最少是 {0} 的字符串"),
            rangelength: $.validator.format("请输入一个长度介于 {0} 和 {1} 之间的字符串"),
            range: $.validator.format("请输入一个介于 {0} 和 {1} 之间的值"),
            max: $.validator.format("请输入一个最大为 {0} 的值"),
            min: $.validator.format("请输入一个最小为 {0} 的值")
        });
    });

</script>