@model DiscountModel
@{
    ViewBag.Title = T("编辑优惠券").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("编辑优惠券") - @Model.Name @Html.ActionLink("(" + T("返回优惠券列表") + ")", "List")
        </div>
        <div class="options">
			@{ Html.RenderWidget("admin_button_toolbar_before"); }

            <button type="submit" name="save" value="save" class="btn btn-warning">
				<i class="fa fa-check"></i>
				<span>@T("Admin.Common.Save")</span>
			</button>
            <button type="submit" name="save" value="save-continue" class="btn btn-secondary">
				@T("Admin.Common.SaveContinue")
			</button>
            <button type="submit" name="discount-delete" id="discount-delete" class="btn btn-danger">
				<i class="far fa-trash-alt"></i>
				<span>@T("Admin.Common.Delete")</span>
			</button>

			@{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>

    Html.RenderPartial("_CreateOrUpdate", Model);
}
@Html.DeleteConfirmation("discount-delete")