@model OrderModel
@using SmartStore.Core.Domain.Tax;

<script type="text/javascript">
    $(document).ready(function () {
        toggleOrderTotals(false);
        toggleCC(false);
		toggleDD(false);

		$('#btnRefreshPage').click(function () {
			location.reload();
		});

		$('input.ask-to-proceed, button.ask-to-proceed').click(function (e) {
			if (confirm(@T("Admin.Common.AskToProceed").JsText)) {
				return true;
			}

			e.preventDefault();
			return false;
		});
    });

    function toggleOrderTotals(editmode) {
        if (editmode) {
            $('#trEditOrderTotals').show();
            $('#btnEditOrderTotals').hide();
            $('#btnSaveOrderTotals').show();
            $('#btnCancelOrderTotals').show();
        }
        else {
            $('#trEditOrderTotals').hide();
            $('#btnEditOrderTotals').show();
            $('#btnSaveOrderTotals').hide();
            $('#btnCancelOrderTotals').hide();
        }
    }

    function toggleCC(editmode) {
		if (editmode) {
			$('.cc-control').parent().hide();
			$('.cc-control').closest(".adminData").find("input").show();
            $('#btnEditCC').hide();
            $('#btnSaveCC').show();
            $('#btnCancelCC').show();
        }
        else {
			$('.cc-control').parent().show();
			$('.cc-control').closest(".adminData").find("input").hide();
            $('#btnEditCC').show();
            $('#btnSaveCC').hide();
            $('#btnCancelCC').hide();
        }
    }

    function toggleDD(editmode) {
		if (editmode) {
			$('.dd-control').parent().hide();
			$('.dd-control').closest(".adminData").find("input").show();
            $('#btnEditDD').hide();
            $('#btnSaveDD').show();
            $('#btnCancelDD').show();
        }
        else {
			$('.dd-control').parent().show();
			$('.dd-control').closest(".adminData").find("input").hide();
            $('#btnEditDD').show();
            $('#btnSaveDD').hide();
            $('#btnCancelDD').hide();
        }
    }
</script>

@Html.Widget("order_edit_top")

<table class="adminContent">
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.OrderStatus)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Model.OrderStatus
			</div>
			
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.OrderNumber)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Model.OrderNumber
			</div>
		</td>
	</tr>
	
	
	<tr class="adminSeparator">
		<td colspan="2">
			<hr />
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.CustomerId)
		</td>
		<td class="adminData">
            <div class="form-control-plaintext">
                @Model.CustomerName  @Model.CustomerEmail  @Model.CustomerMobile
            </div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.CustomerIp)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Model.CustomerIp
			</div>
		</td>
	</tr>
	
	
	
	
	
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.OrderTotal)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Model.OrderTotal
			</div>
		</td>
	</tr>


	

	
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.PaymentStatus)
		</td>
		<td class="adminData wide">
			<span class="pr-1 font-weight-medium form-control-plaintext d-inline-block" style="width: auto;">@Model.PaymentStatus</span>
			@{ Html.RenderWidget("admin_order_edit_payment_buttons_after"); }
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.CreatedOn)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.CreatedOn)
			</div>
		</td>
	</tr>
	<tr>
		<td class="adminTitle">
			@Html.SmartLabelFor(model => model.UpdatedOn)
		</td>
		<td class="adminData">
			<div class="form-control-plaintext">
				@Html.DisplayFor(model => model.UpdatedOn)
			</div>
		</td>
	</tr>
	<tr class="adminSeparator">
		<td colspan="2">
			<hr />
		</td>
	</tr>
	<tr>
		<td colspan="2">
			@if (Model.CustomerComment.HasValue())
			{
				<h4>@T("Admin.Order.CustomerComment.Heading")</h4>
				<div class="alert alert-info">
					@Model.CustomerComment
				</div>
			}
		</td>
	</tr>
</table>