@model OrderModel
@using SmartStore.Core.Domain.Tax;
@using SmartStore.Core.Domain.Catalog;

<style>
	.order-edit-cnt .edit-label {
		font-size: 0.75rem;
	}
	.order-edit-cnt .edit-value {
		max-width: 100%;
	}
</style>
   
<div>
	<div class="t-toolbar t-grid-toolbar t-grid-top border border-bottom-0">
	</div>
	<div class="table-responsive">
		<table id="OrderItemTable" class="table admin-table">
			<thead>
				<tr>
					<th>
						@T("Admin.Orders.Products.ProductName")
					</th>
					
					<th class="text-center">
						@T("Admin.Orders.Products.Price")
					</th>
					<th class="text-center">
						@T("Admin.Orders.Products.Quantity")
					</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model.Items)
			{
					<tr>
						<td style="width: 25%;" class="align-top">
							<div>
								<div class="mb-2">
									@item.ProductName
								</div>
							</div>
						</td>
						<td style="width: 15%;" class="align-top">

                            <div class="text-center">
                                @item.SubTotalInclTax
                            </div>

							
						</td>
						<td align="center" style="width: 5%" class="align-top">
							<div>
								@item.Quantity
							</div>

							
						</td>
					</tr>
			}
			</tbody>
		</table>
	</div>
</div>

